.nav {
    background:white;
}

/* Bootstrap override! */

.nav-link, .navbar-brand {
    color:rgb(182, 34, 1);
}

a.navbar-brand {
    margin-left:40px;
}

a.nav-link {
    margin-right:2rem;
}

.nav-pills .nav-link.active {
    background-color:rgb(182, 34, 1);
}

/* End of bootstrap overrides */

div.topmenu {
    padding:15px 10px 0px 10px;
    background:white;
    z-index:1000;
}

div.topmenu:after {
    content:""; 
    background: rgb(194,54,22);  
    top: 0; 
    margin:0 auto;
    margin-top:10px; 
    height: 1px; 
    width: 80vw;
    box-shadow: 0px 1px 3px 0px rgba(194,54,22,0.45);
    transition:all .5s ease-in-out;
  }

div.topmenu.scroll:after {
    width:100vw !important;
    transition:all .5s ease-in-out;
}

div.content {
   padding:10px 5vw 10px 5vw;
   text-align:justify; 
}

input[type="color"] {
    border-radius:5px;
    background-color:transparent;
    border:1px solid grey;
}
input[type="color"]:hover {
    background-color:#007bff;
}

a.active sup.menualarm {
    background:white;
    padding:2px 6px 2px 6px;
    border-radius:5px;
    color:rgb(194,54,22);
    font-weight:bold;
    font-size:medium;
    top:-5px;
}
sup.menualarm {
    background:rgb(194,54,22);
    color:white;
    padding:2px 6px 2px 6px;
    border-radius:5px;
    font-weight:bold;
    font-size:medium;
    top:-5px;
}

tr.alarm {
    background-color:rgba(255, 0, 0, 0.3) !important;
}

td.stockAction {
    width:16%;
}