.nav {
    background:white;
}

/* Bootstrap override! */

.nav-link, .navbar-brand {
    color:rgb(182, 34, 1);
}

a.navbar-brand {
    margin-left:40px;
}

a.nav-link {
    margin-right:2rem;
}

.nav-pills .nav-link.active {
    background-color:rgb(182, 34, 1);
}

input[type="radio"].form-check-input:first-child {
    margin-left: 10px;
}

/* End of bootstrap overrides */

div.topmenu {
    padding:15px 10px 0px 10px;
    background:white;
    z-index:1000;
}

div.topmenu:after {
    content:""; 
    background: rgb(194,54,22);  
    top: 0; 
    margin:0 auto;
    margin-top:10px; 
    height: 1px; 
    width: 80vw;
    box-shadow: 0px 1px 3px 0px rgba(194,54,22,0.45);
    transition:all .5s ease-in-out;
  }

div.topmenu.scroll:after {
    width:100vw !important;
    transition:all .5s ease-in-out;
}

div.content {
   padding:10px 5vw 10px 5vw;
   text-align:justify; 
}

input[type="color"] {
    border-radius:5px;
    background-color:transparent;
    border:1px solid grey;
}
input[type="color"]:hover {
    background-color:#007bff;
}

a.active sup.menualarm {
    background:white;
    padding:2px 6px 2px 6px;
    border-radius:5px;
    color:rgb(194,54,22);
    font-weight:bold;
    font-size:medium;
    top:-5px;
}
sup.menualarm {
    background:rgb(194,54,22);
    color:white;
    padding:2px 6px 2px 6px;
    border-radius:5px;
    font-weight:bold;
    font-size:medium;
    top:-5px;
}

tr.alarm {
    background-color:rgba(255, 0, 0, 0.3) !important;
}

td.stockAction {
    width:16%;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: grey;
    cursor: pointer;
    padding: 2px 5px 2px 5px;
    width: 100%;
    border: 1px solid silver;
    border-radius:5px;
    text-align: center;
    outline: none;
    font-size: 15px;
    font-weight:bold;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover, .collapsible:focus {
    background-color: rgb(52, 194, 99);
    color:white;
    border-color:white;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    outline:none;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .collapsible-content {
    padding: 0 18px;
    /* display: none; */
    overflow: hidden;
    background-color: #f1f1f1;
    max-height:0;
    transition: max-height 0.2s ease-out;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
  }

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    right: 0;
    left: 0;
    top:0;
    bottom:0;
    margin:auto;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation: fadeinout .2s linear forwards;
  }

  @keyframes fadeinout {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50vw;
    overflow-y:auto;
    max-height:80vh;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-bottom:25px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modalfield {
      min-width:100px;
  }